<a href="https://colab.research.google.com/github/saipavan-wq/colabprograms/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Hardcoded variables
name = "saipavan"
age = 20
city = "hyderabad"

# Output hardcoded data
print(f"Name: {name}")
print(f"Age: {age}")
print(f"City: {city}")

Name: saipavan
Age: 20
City: hyderabad

In [2]:
# Keyboard Input
user_name = input("Enter your name: ")
user_age = int(input("Enter your age: "))
user_city = input("Enter your city: ")

# Output user input
print(f"Name: {user_name}")
print(f"Age: {user_age}")
print(f"City: {user_city}")

Enter your name: saipavan j
Enter your age: 20
Enter your city: hyderabad
Name: saipavan j
Age: 20
City: hyderabad

In [4]:
# Create a new text file named 'bio.txt' and write content to it
file_name = 'bio.txt'
content = '''saipavan,20,Hyderabad,hu22csen0102227
'''

# Open the file in write mode ('w'), and write content
with open(file_name, 'w') as file:
    file.write(content)

print(f"File '{file_name}' created successfully with the following content:")
print(content)

File 'bio.txt' created successfully with the following content:
saipavan,20,Hyderabad,hu22csen0102227

In [5]:
# Create the 'multiple.txt' file with multiple entries, updated with "Salaar" and "Deva"
file_name = 'multiple.txt'
content = '''saipavan,20,Hyderabad,hu22csen0102227
Salaar,22,Mumbai,hu22csen0102228
Deva,21,Delhi,hu22csen0102229
'''

# Open the file in write mode and write content
with open(file_name, 'w') as file:
    file.write(content)

print(f"File '{file_name}' created successfully.")

File 'multiple.txt' created successfully.

In [6]:
# Open the file 'multiple.txt' and read its content
file_name = 'multiple.txt'

# Read multiple inputs from the file
with open(file_name, 'r') as file:
    lines = file.readlines()

# Process each line from the file
for line in lines:
    # Strip any leading/trailing spaces and split by comma
    name, age, city, roll_no = line.strip().split(',')

    # Process the values (here, just printing them)
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")
    print(f"Roll Number: {roll_no}")
    print("-" * 20)  # Separator for clarity

Name: saipavan
Age: 20
City: Hyderabad
Roll Number: hu22csen0102227
--------------------
Name: Salaar
Age: 22
City: Mumbai
Roll Number: hu22csen0102228
--------------------
Name: Deva
Age: 21
City: Delhi
Roll Number: hu22csen0102229
--------------------

In [7]:
# Create and save all versions in a single run

# Version 1: Hardcoded Values
version1_code = '''# Version 1: Hardcoded Values
name, age, city, roll_no = 'saipavan', 20, 'Hyderabad', 'hu22csen0102227'
print(f"Name: {name}\nAge: {age}\nCity: {city}\nRoll Number: {roll_no}")
'''
with open('version1.py', 'w') as file: file.write(version1_code)

# Version 2: Keyboard Input
version2_code = '''# Version 2: Keyboard Input
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
roll_no = input("Enter your roll number: ")
print(f"Name: {name}\nAge: {age}\nCity: {city}\nRoll Number: {roll_no}")
'''
with open('version2.py', 'w') as file: file.write(version2_code)

# Version 3: Read Single Input from File
version3_code = '''# Version 3: Read Single Input
with open('input.txt', 'r') as file:
    print(f"Name from file: {file.readline().strip()}")
'''
with open('version3.py', 'w') as file: file.write(version3_code)

# Version 4: Read Multiple Inputs from File
version4_code = '''# Version 4: Read Multiple Inputs
with open('multiple.txt', 'r') as file:
    for line in file:
        name, age, city, roll_no = line.strip().split(',')
        print(f"Name: {name}\nAge: {age}\nCity: {city}\nRoll Number: {roll_no}\n{'-'*20}")
'''
with open('version4.py', 'w') as file: file.write(version4_code)

# Create input.txt for Version 3 (Single Input)
with open('input.txt', 'w') as file: file.write('saipavan')

# Create multiple.txt for Version 4 (Multiple Inputs)
with open('multiple.txt', 'w') as file:
    file.write('saipavan,20,Hyderabad,hu22csen0102227\nSalaar,22,Mumbai,hu22csen0102228\nDeva,21,Delhi,hu22csen0102229')

print("All versions and necessary files saved.")

All versions and necessary files saved.

In [9]:
# Version 1: Hardcoded Values (No errors expected here)
name, age, city, roll_no = 'saipavan', 20, 'Hyderabad', 'hu22csen0102227'
print(f"Name: {name}\nAge: {age}\nCity: {city}\nRoll Number: {roll_no}")

# Version 2: Keyboard Input (Handling incorrect input)
try:
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))  # If age is not an integer, it will raise ValueError
    city = input("Enter your city: ")
    roll_no = input("Enter your roll number: ")
    print(f"Name: {name}\nAge: {age}\nCity: {city}\nRoll Number: {roll_no}")
except ValueError:
    print("Invalid input! Age must be an integer.")
except Exception as e:
    print(f"An error occurred: {e}")

# Version 3: Read Single Input from File (Handle missing file)
try:
    with open('input.txt', 'r') as file:
        name_from_file = file.readline().strip()
        print(f"Name from file: {name_from_file}")
except FileNotFoundError:
    print("Error: 'input.txt' file not found.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

# Version 4: Read Multiple Inputs from File (Handle missing file and incorrect format)
try:
    with open('multiple.txt', 'r') as file:
        for line in file:
            try:
                name, age, city, roll_no = line.strip().split(',')
                print(f"Name: {name}\nAge: {age}\nCity: {city}\nRoll Number: {roll_no}\n{'-'*20}")
            except ValueError:
                print("Error: Incorrect format in 'multiple.txt'. Expected 4 values per line.")
except FileNotFoundError:
    print("Error: 'multiple.txt' file not found.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Name: saipavan
Age: 20
City: Hyderabad
Roll Number: hu22csen0102227
Enter your name: saipavanj
Enter your age: 20
Enter your city: chennai
Enter your roll number: hu22csen0102237
Name: saipavanj
Age: 20
City: chennai
Roll Number: hu22csen0102237
Name from file: saipavan
Error: Incorrect format in 'multiple.txt'. Expected 4 values per line.
Error: Incorrect format in 'multiple.txt'. Expected 4 values per line.